.container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding: 10px;
    }
    
.box {
    background-color: rgb(86, 8, 231);
    color: rgb(194, 88, 88);
    padding: 20px;
    text-align: center;
    font-weight: bold;
}
