.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    padding: 10px;
}
.span6 {
    grid-column: span 6;
    background-color: #09f6ce;
}

.span3 {
    grid-column: span 3;
    background-color: #5167e0;
}

.box {
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}
