.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}

.span {
    grid-column: 1 / 3; 
    background-color: rgb(208, 132, 147);
}

.box {
    background-color: steelblue;
    color: rgb(235, 194, 12);
    padding: 20px;
    text-align: center;
    font-weight: bold;
}
