.container {
    display: grid;
    grid-template-rows: 100px auto;
    gap: 10px;
    padding: 10px;
}

.box {
    background-color: rgb(227, 13, 177);
    color: rgb(99, 219, 24);
    padding: 15px;
    font-weight: bold;
    text-align: left;
}
