.container {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar content"
        "footer footer";
    grid-template-columns: 1fr 3fr;
    gap: 10px;
}

.header {
    grid-area: header;
    background-color: rgb(10, 183, 241);
    padding: 20px;
}

.sidebar {
    grid-area: sidebar;
    background-color: rgb(174, 228, 174);
    padding: 20px;
}

.content {
    grid-area: content;
    background-color: rgb(11, 238, 181);
    padding: 20px;
}

.footer {
    grid-area: footer;
    background-color: rgb(5, 8, 221);
    padding: 20px;
}